img{max-width:100%;}
/*end reset*/
.wrap {
    width: 80%;
    margin: 0px auto;
}
.content{
    /*min-height: 46em;*/
}
.content-grid {
    text-align: center;
    width: 100%;
    overflow: hidden;
}	

.content-grid p img{
    text-align: center;
    z-index: -9999;
    margin-top: -9em;
}
.grid  {
    text-align: center;
    margin-top: 1em;
}
.grid h3 {
    font-family: 'Petit Formal Script', cursive;
    color: #FFF;
    display: block;
    padding-bottom: 2.5em;
    font-size: 1.6em;
    padding-top: 1.5em;
    font-weight: 600;
    text-align: center;
}
/*-----start-responsive-design------*/
@media only screen and (max-width: 1366px) and (min-width: 1280px){
    .wrap{
        width:95%;
    }


}
@media only screen and (max-width: 1280px) and (min-width: 1024px) {
    .wrap{
        width:95%;
    }

}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    .wrap{
        width:95%;
    }
    .grid p {
        margin-top: 1em;
    }
    .grid h3 {
        padding-top: 1.2em;
        padding-bottom: 2em;
    }

}
@media only screen and (max-width: 768px) and (min-width: 480px) {
    .wrap{
        width:95%;
    }
    .content-grid p {
        margin-top: 3em;
    }
    .grid p{
        margin-top: 0em;
    }
    .grid p img {
        width: 80%;
        margin-top: 1em;
    }
    .grid h3 {
        font-size: 1em;
        padding-top: 1.5em;
        padding-bottom: 3em;
    }

}
@media only screen and (max-width: 480px) and (min-width: 320px) {
    .wrap{
        width:95%;
    }
    .content-grid p img{
        margin-top: -2.2em;
        width: 300px;
        text-align: center;
    }
    .content-grid {
        text-align: center;
        margin: 0px auto;
    }
    .grid {
        margin-top: 0em;
    }
    .grid p{
        margin-top: 0em;
    }
    .grid p img {
        width: 283px;
        margin-top: 0.3em;
    }
    .grid h3 {
        font-size: 0.9em;
        padding-top: 1.2em;
        padding-bottom: 1.7em;
    }

}
@media only screen and (max-width: 320px) and (min-width: 240px) {
    .grid p img {
        width: 100%;
        margin-top: 0em;
    }

    .content-grid p {
        margin-top:1em;
    }

    .grid p{
        margin-top: 0em;
    }

    .grid h3 {
        font-size: 1em;
        padding-top: 1em;
        padding-bottom: 1.4em;
    }
    .wrap{
        width:95%;
    }
}