<div id='menuJ' class="row">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> {{currentFeature}}</li>
        </ul>

    </div>
</div>
<div id="comingsoon-wrapper" class="comingsoon-wrapper" (window:resize)="changeSizeFromViewPort()" (on-init)="changeSizeFromViewPort()">
    <!--<h3 class="middleh3">We are working on something <b><span style="color: #642667"> very interesting!</span></b></h3>-->
</div>
