<my-spinner [isRunning]="isRequesting"></my-spinner>
<div class="row">
    <div class="heading-main row">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"> Suppression Rules</li>
        </ul>
        <div class="add-action-btn">
            <a href="javascript:;" class="add_action_btn" (click)="openAddPage()">
                <i class="fa fa-plus"></i>New Suppression
            </a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="col-sm-12 view-eds" [hidden]=openAddPageFlag>
            <div class="row">
                <div class="box-main expand-big mainTopTable">
                    <div class="right-side-table" style="position: relative;">
                        <ul class="nav nav-tabs" role="tablist" id="listTab">
                            <li class="nav-item" *ngFor="let tabz of suppListTabs;let i = index"> 
                                <a class="nav-link" id="{{tabz.shortName}}LiTab" href="javascript:;" [class.active]="tabz.active"
                               role="tab" data-toggle="tab" (click)="setTabParameters(tabz.shortName,i);">{{tabz.title}}</a> 
                            </li>
                        </ul>
                        <div class="expand" onclick="expandDiv('expand-div', 'crud-div')" (click)="eventDetectorFlag = !eventDetectorFlag;setLargeListFlag()" ><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand':eventDetectorFlag,'fa-compress':!eventDetectorFlag}"></i></a></div>
                        <!-- Tab panes -->
                        <div id="tabContentMainDiv" class="style-4 tab-content scrollbar expand-div wide-div">
                            <context-menu></context-menu>
                            <div role="tabpanel" class="tab-pane fade in" id="produc" [class.show]="suppListTabs[0].active" [class.active]="suppListTabs[0].active">
                                <input class="col-md-2" #gbProd [(ngModel)]="configSearchProd" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'prod')">  
                                       <!--Data Table--> 
                                       <div class="overflow-x">
                                    <div *ngIf="productionEventDetectorList?.length > 0 ">
                                        <p-dataTable #prodTable id="prodTable" selectionMode="single" [rows]="20" 
                                            (onRowSelect)="openUpdateTemplate($event)"  [paginator]="true" [pageLinks]="3" 
                                            [rowsPerPageOptions]="[5,10,20]" [globalFilter]="gbProd" [value]="productionSuppressionList" 
                                            sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionDesc" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="successLogLabel" header="Label If Suppressed"  [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="failureLogLabel" header="Label if Not Suppressed" [sortable]="true" [style]="{'width':'180px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}" >
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" >LIVE</span>
                                                        <span class="sim-icon" >SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="productionSuppressionList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Suppression List</p> <span>
                                            <span class="color-red">Add</span> a new Suppression</span>
                                    </div>
                                </div>
                                <!-- End Data Table -->
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="simul" [class.show]="suppListTabs[1].active" [class.active]="suppListTabs[1].active">
                                <input class="col-md-2" #gbSimul [(ngModel)]="configSearchSimul" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'simul')"> 
                                       <!--Data Table--> 
                                       <div class="overflow-x">
                                    <div *ngIf="simulationSuppressionList?.length > 0 ">
                                        <p-dataTable #simulTable id="simulTable" [rows]="20" [paginator]="true" (onRowUnselect)="clearObjects()" (onRowSelect)="openUpdateTemplate($event)"  [pageLinks]="3" [rowsPerPageOptions]="[5,10,20]" selectionMode="single" [globalFilter]="gbSimul" [value]="simulationSuppressionList" sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{i+1}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionDesc" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="successLogLabel" header="Label If Suppressed"  [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="failureLogLabel" header="Label if Not Suppressed" [sortable]="true" [style]="{'width':'180px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}" >
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon" >LIVE</span>
                                                        <span class="sim-icon" >SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="simulationSuppressionList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Suppression List</p> <span>
                                            <span class="color-red">Add</span> a new Suppression</span>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="config" [class.show]="suppListTabs[2].active" [class.active]="suppListTabs[2].active">
                                <input class="col-md-2" #gbConfig [(ngModel)]="configSearch" type="text" placeholder="Search" dnd-droppable (onDropSuccess)="searchData($event,'config')"> 
                                       <!--Data Table--> 
                                       <div class="overflow-x">
                                    <div *ngIf="configurationSuppressionList?.length > 0 ">
                                        <p-dataTable #configTable id="configTable" [rows]="20" [paginator]="true"
                                            [pageLinks]="3" (onRowUnselect)="clearObjects()" 
                                            (onRowSelect)="openUpdateTemplate($event)" 
                                            [rowsPerPageOptions]="[5,10,20]" selectionMode="single" 
                                            [globalFilter]="gbConfig" [value]="configurationSuppressionList" 
                                            sortMode="multiple">
                                            <p-column  [sortable]="true" [style]="{'width':'50px'}">
                                                <ng-template pTemplate="header">
                                                    <i class="fa fa-sort-amount-desc" style="color: #642667;font-size: 12px;"></i>
                                                </ng-template>
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div><span><a href="javascript:;">{{i+1}}</a></span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionName" header="Name" [sortable]="true" [style]="{'width':'200px'}">
                                                <ng-template let-i="rowIndex" let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span (contextmenu)="onContextMenu($event,car)" class="bold-font">{{car[col.field]}}</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="suppressionDesc" header="Description"  [sortable]="true" [style]="{'width':'250px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="successLogLabel" header="Label If Suppressed"  [sortable]="true" [style]="{'width':'150px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="failureLogLabel" header="Label if Not Suppressed" [sortable]="true" [style]="{'width':'180px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="version" header="Version" [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="status" header="Status"  [sortable]="true" [style]="{'width':'90px'}">
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div><span>{{car[col.field]}}</span></div>
                                                </ng-template>
                                            </p-column>
                                            <p-column field="environment" header="Environment" [sortable]="false" [style]="{'text-align':'left','width':'90px'}" >
                                                <ng-template let-col let-car="rowData" pTemplate="body">
                                                    <div>
                                                        <span class="live-icon">LIVE</span>
                                                        <span class="sim-icon">SIM</span>
                                                    </div>
                                                </ng-template>
                                            </p-column>
                                        </p-dataTable>
                                    </div>
                                </div>
                                <div class="bordered-box" *ngIf="configurationSuppressionList?.length == 0 ">
                                    <div class="drag-txt">
                                        <p class="bold-txt">Suppression List</p> <span>
                                            <span class="color-red">Add</span> a new Suppression</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix" [hidden]="!showUpdateScreen" class="crud-div">
            <div class="mt-4">
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <div class="box-main">
                            <div class="activation-box-main">
                                <div class="activation-box-main-heading">Config Space
                                    <div class="expand" style="right: 14px;" onclick="expandDiv('crud-div', 'view-eds')" (click)="togglePage()"><a href="javascript:;" id="expand"><i class="fa" [ngClass]="{'fa-expand': !showEnlargedScreen,'fa-compress': showEnlargedScreen}"></i></a></div>
                                </div>
                                <div class="fix-height-305" [hidden]="showEnlargedScreen" [ngStyle]="{'pointer-events':suppressionObj.updatable ? '' : 'none'}">
                                    <form novalidate="" #suppressionForm="ngForm" (ngSubmit)="onSubmit(suppressionForm)">
                                        <div class="row col-md-12">
                                            <div class="col-md-4">
                                                <div class="activation-box mb-5">
                                                    <label for="suppressionName">Name</label>
                                                    <div class="clearfix"></div>
                                                    <div class="col-sm-12">
                                                        <div class="row">
                                                            <input id="suppressionName" required name="suppressionName" type="text" class="col-sm-7 grey-bold-text" [ngClass]="{'error-box':suppressionName.errors && submittedFlag && suppressionName.errors.required}" #suppressionName="ngModel"  [(ngModel)]="suppressionObj.suppressionName">
                                                                   <span class="col-sm-5" style="line-height: 30px;padding-left: 10px;">v{{suppressionObj.version}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="button" class="red-btn w-20" (click)="ruleBuilderSuppressionDisplay = true">Suppression Builder</button><br/>
                                                <span *ngIf="(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '') && submittedFlag" [ngClass]="{'color-red':(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '') && submittedFlag}">&nbsp;Criteria is mandatory</span>
                                                <div class="activation-box min-height-100">
                                                    <label for="suppressionDesc">Description</label>
                                                    <textarea id="suppressionDesc" #suppressionDesc="ngModel" name="suppressionDesc" class="w-100 grey-text" [(ngModel)]="suppressionObj.suppressionDesc"></textarea>
                                                </div>

                                            </div>
                                            <div class="col-md-4">
                                                <div class="activation-box mb-5">
                                                    <label for="labelIfSuppressed">Label if Suppressed</label>
                                                    <input id="labelIfSuppressed" #labelIfSuppressed="ngModel" name="labelIfSuppressed" type="text" class="w-100 grey-bold-text" [(ngModel)]="suppressionObj.successLogLabel">
                                                </div>
                                                <div class="activation-box min-height-100">
                                                    <label for="labelIfNotSuppressed">Label if Not Suppressed</label>
                                                    <input id="labelIfNotSuppressed" #labelIfNotSuppressed="ngModel" name="labelIfNotSuppressed" type="text" class="w-100 grey-bold-text" [(ngModel)]="suppressionObj.failureLogLabel">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="w-100 clearfix footer-button">
                                            <div class="float-right">
                                                <button id="publishSupp" type="button" [ngClass]="{'white-btn':!suppressionObj.publishable || (!form.dirty),'pink-btn':suppressionObj.publishable && (form.dirty)}" [disabled]="!suppressionObj.publishable  || (!form.dirty)" (click)="onPublish(suppressionForm)">Publish</button>
                                                <button id="cancelSupp" type="button" [ngClass]="{'white-btn':!form.dirty,'purple-btn':form.dirty}" [disabled]="(!form.dirty)" (click)="checkCancelChanges()">Cancel</button>
                                                <button id="submitSupp" type="submit" class="mr-2" [ngClass]="{'white-btn':!form.dirty,'pink-btn':form.dirty}" [disabled]="(!form.dirty)">Save</button> 
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div id="style-4" class="w-100 fix-height-555 scrollbar" [hidden]="!(showEnlargedScreen || openAddPageFlag)">
                                     <div class="suppressionForm" [ngStyle]="{'pointer-events': suppressionObj.updatable ? '' : 'none'}">
                                     <div class="suppressionCreatFormTitle col-sm-12">
                                            <h5>Create a New Suppression</h5>
                                            <p>Fill in the configuration criteria below to save a new Suppression to Drafts.</p>
                                        </div>
                                        <div class="creatSuppressionForm">
                                            <form novalidate="" #suppressionForm="ngForm" (ngSubmit)="onSubmit(suppressionForm)">
                                                <div class="col-md-4">
                                                    <div class="activation-box mb-5">
                                                        <label for="suppressionName">Name</label>
                                                        <div class="clearfix"></div>
                                                        <div class="col-sm-12">
                                                            <div class="row">
                                                                <input class="col-sm-7 grey-bold-text" id="suppressionName" [ngClass]="{'error-box':suppressionName.errors && submittedFlag && suppressionName.errors.required}" required #suppressionName="ngModel" name="suppressionName" type="text" [(ngModel)]="suppressionObj.suppressionName">
                                                                       <span class="col-sm-5" style="line-height: 30px">v{{suppressionObj.version}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="button" class="red-btn w-20" (click)="ruleBuilderSuppressionDisplay = true">Suppression Builder</button><br/>
                                                    <span *ngIf="(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '') && submittedFlag" [ngClass]="{'color-red':(!suppressionObj.criteriaExpression || suppressionObj.criteriaExpression == null || suppressionObj.criteriaExpression == '') && submittedFlag}">&nbsp;Criteria is mandatory</span>
                                                    <div class="activation-box min-height-100">
                                                        <label for="suppressionDesc">Description</label>
                                                        <textarea id="suppressionDesc" #suppressionDesc="ngModel" name="suppressionDesc" class="w-100 grey-text" [(ngModel)]="suppressionObj.suppressionDesc"></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="activation-box mb-5">
                                                        <label for="labelIfSuppressed">Label if Suppressed</label>
                                                        <input id="labelIfSuppressed" #labelIfSuppressed="ngModel" name="labelIfSuppressed" type="text" class="w-100 grey-bold-text" [(ngModel)]="suppressionObj.successLogLabel">
                                                    </div>
                                                    <div class="activation-box min-height-100">
                                                        <label for="labelIfNotSuppressed">Label if Not Suppressed</label>
                                                        <input id="labelIfNotSuppressed" #labelIfNotSuppressed="ngModel" name="labelIfNotSuppressed" type="text" class="w-100 grey-bold-text" [(ngModel)]="suppressionObj.failureLogLabel">
                                                    </div>
                                                </div>
                                                <div class="w-100 clearfix footer-button">
                                                    <div class="float-right">
                                                        <button type="button" [ngClass]="{'white-btn':!suppressionObj.publishable || (!form.dirty),'pink-btn':suppressionObj.publishable && (form.dirty)}"  [disabled]="!suppressionObj.publishable || (!form.dirty)" (click)="onPublish(suppressionForm)">Publish</button>
                                                        <button type="button" [ngClass]="{'white-btn':!form.dirty,'purple-btn':form.dirty}"  [disabled]="(!form.dirty)" (click)="checkCancelChanges()">Cancel</button>
                                                        <button type="submit" class="mr-2" [ngClass]="{'white-btn':!form.dirty,'pink-btn':form.dirty}"  [disabled]="(!form.dirty)">Save</button>  
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Role Builder Model -->
<!--<div class="modal fade" id="suppressionRuleBuilderModal" tabindex="-1" role="dialog" aria-labelledby="ruleBuilderModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>-->
<p-dialog class="p-rule-model" header="Rule Builder" [(visible)]="ruleBuilderSuppressionDisplay" modal="modal" width="1024" responsive="true">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <div id="ruleBuilderMainDiv" class=" box-main expand-big fix-height-500">
                        <div class="activation-box-main-heading ">Elements </div>
                        <div class="w-100 ">
                            <div class="col-sm-11 pr-0">
                                <input class="general-input" type="search" placeholder="Search" [(ngModel)]="elementsQuery" >
                            </div>
                        </div>
                        <ul class="left-box-list display-inline dropdown-menu caretmenu style-4 scrollbar">
                            <li class="dropdown-submenu">
                                <a href="javascript:;" id='srs' (click)="changeState('srs',$event)"><i class="close-caret"></i> Suppression Rules</a>
                                <ul class="dropdown-menu left-side-submenu">
                                    <div *ngFor="let data of dataSet | filterarray:elementsQuery">
                                        <li class="dropdown-li w-100" dnd-draggable [dragEnabled]="true" [dropZones]="['ruleFieldZone']" *ngIf="data.parenttype == 'Suppressions'" [dragData]="data">
                                        <a class="drop-menu-item" href="javascript:;"><div class="suppresion-name"><i class="fa fa-arrows"></i>{{data.name}}</div></a>
                                        </li>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a href="javascript:;" tabindex="-1" id='BDNAs' (click)="changeState('BDNAs',$event)"><i class="close-caret"></i> Behavioral DNA</a>
                                <ul class="dropdown-menu sub-ul-left">
                                    <li class="dropdown-submenu" *ngFor="let bdnas of behavioralDnas">
                                        <a id="{{bdnas}}" class="test" href="javascript:;" (click)="changeState(bdnas,$event)"><i class="close-caret"></i>{{bdnas}}</a>
                                        <ul class="dropdown-menu left-side-submenu">
                                            <div *ngFor="let data of dataSet | filterarray:elementsQuery">
                                                <li class="dropdown-li w-100" dnd-draggable [dragEnabled]="true" [dropZones]="['ruleFieldZone']" *ngIf="data.type == 'BDNA' && data.parenttype == bdnas" [dragData]="data">
                                                <a class="drop-menu-item" href="javascript:;"><i class="fa fa-arrows"></i><div class="suppresion-name">{{data.name}}</div></a>
                                                </li>
                                            </div>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9">
                    <div id="dragAreaDiv" class=" w-100 box-main">
                        <div class="activation-box-main-heading">Builder </div>
                        <div class="style-4 scrollbar fix-height-500">
                            <div class="eventCreatForm">
                                <div class="eventCreatFormTitle">
                                    <h5>Build or Edit a Rule</h5>
                                    <p>Drag and drop items from the Elements panel and add conditions</p>
                                </div>
                            </div>
                            <div class="pl-pr-15">
                                <div class="eventCreatBox">
                                    <div class="eventCreatBoxHeader">
                                        <h6>
                                            <div class="text-center" *ngIf="!criteriaExp">Rule Expression</div>
                                            <div class="text-center" *ngIf="criteriaExp" [innerHTML]="criteriaExp"></div>
                                        </h6>
                                    </div>
                                    <div class="w-100 eventCreatBoxContainer scrollbar">
                                        <h6><query-builder [group]="filter.group" [parentGrp]="group" [grpIndex]="i" (groupChange)="ongroupChanged($event)"></query-builder></h6> </div>
                                </div>
                            </div>
                        </div>
                        <div class="w-100 clearfix footer-button">
                            <div class="float-right">
                                <button href="javascript:;" class="purple-btn" (click)="ruleBuilderSuppressionDisplay = false">Cancel</button>
                                <button href="javascript:;" class="pink-btn mr-2" (click)="ruleBuilderSuppressionDisplay = false">Save</button> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</p-dialog>
<p-dialog class="p-model" header="Archive Confirmation" [(visible)]="archiveSuppressionDisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to archive {{modalContent.suppressionName}} suppression rule?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="archiveSuppressionDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="archiveSuppression()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Delete Confirmation" [(visible)]="deleteSuppressionDisplay" modal="modal" width="500" responsive="true">
    Are you sure you want to delete {{modalContent.suppressionName}} suppression rule?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="deleteSuppressionDisplay=false">No</button>
            <button type="button" class="pink-btn mr-2" (click)="deleteSuppression()">Yes</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog class="p-model" header="Cancel Confirmation" [(visible)]="cancelSuppressionDisplay" modal="modal" width="500" responsive="true">
    You have unsaved changes. Are you sure you want to cancel changes in <b>{{modalContent.suppressionName}}</b> suppression rule?
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" class="purple-btn" (click)="rejectSuppressionTraversalChanges()">No</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'changeEditCancel'" (click)="cancelUpdateChanges()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'cancelEdChanges'" (click)="cancelSuppressions()">Yes</button>
            <button type="button" class="pink-btn mr-2" *ngIf="cancelChangesFlag == 'cancelAddChanges'" (click)="cancelAddChanges()">Yes</button>
        </div>
    </p-footer>
</p-dialog>

