<p-growl [value]="msgs" [life]="5000" [style]="{'width':'30em'}"></p-growl>
<header *ngIf="common.isLoggedIn() && isHeaderRequired()"></header>

<div class="sidemenuHumburgerOpen"></div>
<div class="col-sm-12">
    <div class="container-fluid">
        <div  class="sidemenuOpenLeft">
            <div class="menuTitle">Library <a id="leftClose" onclick="closeHamburger()" (click)="closeMenus()"><i class="fa fa-chevron-left"></i></a></div>
            <div  class="row w-100">
                <div class="col-xs-12 pos-static">
                    <ul class="display-inline dropdown-menu caretmenu sidemenuOpenLeftUl" style="height: auto;z-index: 0;padding: 10px 0px 0px 25px;">
                        <li class="dropdown-submenu no-padding">
                            <i class="menu-close-caret caratBtn" id="usecaseCarat" (click)="changeState('usecaselink',$event,'usecaseCarat')"></i>
                            <a style="float: none" id="usecaselink" [routerLink]="['/usecases']" href="javascript:;" onclick="closeHamburger()" (click)="closeMenus()">
                                Use Cases
                            </a>
                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0;display: none">
                                <li class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" id="usecaselinkcontextmenu">
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu no-padding">
                            <i class="menu-close-caret caratBtn" id="edCarat" (click)="changeState('edlink',$event,'edCarat')"></i>
                            <a style="float: none" id="edlink" 
                               [routerLink]="['/eventdetectors']" href="javascript:;" 
                               onclick="closeHamburger()" (click)="closeMenus()">
                                Event Detectors
                            </a>
                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0;">
                                <li class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" id="edlinkcontextmenu">
                                    <a [routerLink]="['/suppressions']" href="javascript:;" 
                                        onclick="closeHamburger()" (click)="closeMenus()" id="suppressionLink" 
                                        class="col-sm-10"><i class="menu-close-caret"></i>Suppressions Rules</a>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu no-padding">
                            <i class="menu-close-caret caratBtn" id="offersCarat" (click)="changeState('offerslink',$event,'offersCarat')"></i>
                            <a style="float: none" id="offerslink" href="javascript:;">
                                Offers
                            </a>
                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0;display: none">
                                <li class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" id="offerslinkcontextmenu">
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu no-padding">
                            <i class="menu-close-caret caratBtn" id="segmentCarat" (click)="changeState('offerslink',$event,'offersCarat')"></i>
                            <a style="float: none" id="segmentlink" href="javascript:;"
                               [routerLink]="['/segments']" href="javascript:;" 
                               onclick="closeHamburger()" (click)="closeMenus()">
                                Segments
                            </a>
                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0;display: none">
                                <li class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" id="segmentlinkcontextmenu">
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu no-padding">
                            <i class="menu-close-caret caratBtn" id="rewardsCarat" (click)="changeState('rewardslink',$event,'rewardsCarat')"></i>
                            <a style="float: none" id="rewardslink" href="javascript:;">
                                Rewards
                            </a>
                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0;display: none">
                                <li class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" id="rewardslinkcontextmenu">
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu no-padding">
                            <i class="menu-close-caret caratBtn" id="commCarat" (click)="changeState('commlink',$event,'commCarat')"></i>
                            <a style="float: none" id="commlink" href="javascript:;">
                                Communications
                            </a>
                            <ul class="dropdown-menu left-side-submenu" style="z-index: 0;display: none">
                                <li class="dropdown-li w-100 col-sm-12 pd-left-0 pd-right-0 cursor-pointer" id="commlinkcontextmenu">
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div *ngIf="isSidemenuHumburgerRequired()" class="sidemenuHumburger"> <a href="javascript:;" id="leftShow"><i class="fa fa-bars"></i></a>
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
<p-confirmDialog class="p-model" [closable]="false" header="Cancel Confirmation" width="425" width="500" responsive="true"  #cd>
    <p-footer>
        <button type="button" class="purple-btn" label="No" (click)="cd.reject()">No</button>
        <button type="button" class="pink-btn" label="Yes" (click)="cd.accept()">Yes</button>
    </p-footer>
</p-confirmDialog>
<p-dialog  class="p-model" header="Invalid Image" [(visible)]="invalidImageDisplay" modal="modal" width="500" responsive="true" >
    Maximum image size is 1 mb, Please select the image less than 1 mb
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" id="okBtn" class="pink-btn mr-2" (click)=invalidImageDisplayFun()>OK</button>
        </div>
    </p-footer>
</p-dialog>
<p-dialog  class="p-model" header="Invalid File" [(visible)]="invalidImageFile" modal="modal"  width="500" responsive="true">
    Please upload a valid image
    <p-footer>
        <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
            <button type="button" id="okBtn" class="pink-btn mr-2" (click)=invalidImageDisplayFun()>OK</button>
        </div>
    </p-footer>
</p-dialog>